.container {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
input {
    height: 40px;
    width: 400px;
    background-color: white;
    color: black;
    margin-bottom: 40px;
    border-radius: 5px;
}
button {
    height: 40px;
    width: 100%;
}
.previewContainer {
    position: absolute;
    right: -55%;
}
.optionsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.optionsContainer button {
    min-width: auto;
    margin: 20px;
}
.dragDropContainer {
    width: 400px;
    height: 100px;
    z-index: 10;
    margin-bottom: 50px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 100px 0;
}
